/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : 03/05/2021, 17:38:31
    Author     : guy12
*/

html,
body {
    height: 100%;
    background-color: #f8f9fa;
    direction: rtl;
}

table {
    border-collapse: separate;
    margin: 50px auto;
    width: 100%;
    border-spacing: 8px 8px;
}

div {
    float: right;
    padding: 15px;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #0f2f40;
    font-size: 13px;
    text-align: right;
    margin-bottom: 5px;
    font-size: 15px;
}

select {
    border: none;
    background: none;
    border-bottom: 1px solid #8d8e93;
    color: #8c8a8c;
}

input {
    border: none;
    background: none;
    border-bottom: 1px solid #8d8e93;
    color: #8c8a8c;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #0f2f40;
    text-align: right;
    margin-bottom: 5px;
    font-size: 19px;
    border: none;
    background: none;
}

thead {
    background: #0f2f40;
}

thead th {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #5f6062;
    font-size: 13px;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.left {
    border-radius: 10px 0px 0px 10px;
}

.right {
    border-radius: 0px 10px 10px 0px;
}

tbody tr td {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #0f2f40;
    font-size: 13px;
    padding: 15px 15px 15px 15px;
    background: #ffffff;
    text-align: center;
}

[title~=green] {
    background-color: #4db99f;
    color: #fff;
}

[title~=yellow] {
    background-color: #fcaf26;
    color: #fff;
}

[title~=none1] {
    text-align: center;
}

[title~=blue] {
    background-color: #53b7e2;
    color: #fff;
}

[title~=red] {
    background-color: #f15a54;
    color: #fff;
}